/node_modules
/.pnp
.pnp.*
/coverage
/.next/
/out/
/build
/.vercel
.env
.env.local
.env.development
.env.production
.env*.local
.DS_Store
*.swp
*.swo
.idea/
.vscode/
*.log
*.tsbuildinfo
next-env.d.ts
yarn.lock
pnpm-lock.yaml
